interactions:
- request:
    body: '{"herp": "derp"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"7196b6d0a0ffe069"']
      Location: [/v0/COLLECTION_1/KEY_1/events/log/1404894423801/0]
      X-ORCHESTRATE-REQ-ID: [ce456d90-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '{"herp": "derp"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1404894423801
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"7196b6d0a0ffe069"']
      Location: [/v0/COLLECTION_1/KEY_1/events/log/1404894423801/1]
      X-ORCHESTRATE-REQ-ID: [ce579600-0742-11e4-94dc-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1404894423801/1
  response:
    body: {string: '{"path":{"collection":"COLLECTION_1","key":"KEY_1","type":"log","timestamp":1404894423801,"ordinal":1,"ref":"7196b6d0a0ffe069"},"value":{"herp":"derp"},"timestamp":1404894423801,"ordinal":1}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"7196b6d0a0ffe069"']
      X-ORCHESTRATE-REQ-ID: [ce68d410-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"herp": "rofl"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
      If-Match: ['"153480985695e369"']
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1404894423801/1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"1e1bc2e4a39a11a9"']
      Location: [/v0/COLLECTION_1/KEY_1/events/log/1404894423801/1]
      X-ORCHESTRATE-REQ-ID: [ce9477f0-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0
  response:
    body: {string: '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"KEY_1","type":"log","timestamp":1404894423801,"ordinal":1,"ref":"1e1bc2e4a39a11a9"},"value":{"herp":"rofl"},"timestamp":1404894423801,"ordinal":1}],"next":"/v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0&beforeEvent=1404894423801/1"}'}
    headers:
      Content-Type: [application/json]
      Link: ['</v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0&beforeEvent=1404894423801/1>;
          rel="next"']
      X-ORCHESTRATE-REQ-ID: [ced4dc50-0742-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
      If-Match: ['"1e1bc2e4a39a11a9"']
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1404894423801/1?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cee46cb0-0742-11e4-9662-12313d2f9238]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1404894423801/1?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cef3fd10-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
