interactions:
- request:
    body: '{"herp": "derp"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"7196b6d0a0ffe069"']
      location: [/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976023450476544]
      x-orchestrate-req-id: [08e89110-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '{"herp": "derp"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1411421154480
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"7196b6d0a0ffe069"']
      location: [/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976025430188032]
      x-orchestrate-req-id: [08fa1d40-429f-11e4-99e0-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976025430188032
  response:
    body: {string: !!python/unicode '{"path":{"collection":"COLLECTION_1","key":"KEY_1","type":"log","timestamp":1411421154480,"ordinal":383976025430188032,"ref":"7196b6d0a0ffe069"},"value":{"herp":"derp"},"timestamp":1411421154480,"ordinal":383976025430188032}'}
    headers:
      content-type: [application/json]
      etag: ['"7196b6d0a0ffe069"']
      x-orchestrate-req-id: [090ce1f0-429f-11e4-9c60-22000a0d84a1]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"herp": "rofl"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
      If-Match: ['"153480985695e369"']
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976025430188032
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"1e1bc2e4a39a11a9"']
      location: [/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976025430188032]
      x-orchestrate-req-id: [092fac30-429f-11e4-9c60-22000a0d84a1]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log?afterEvent=0&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"KEY_1","type":"log","timestamp":1411421154480,"ordinal":383976025430188032,"ref":"1e1bc2e4a39a11a9"},"value":{"herp":"rofl"},"timestamp":1411421154480,"ordinal":383976025430188032}],"next":"/v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0&beforeEvent=1411421154480/383976025430188032"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1/KEY_1/events/log?limit=1&afterEvent=0&beforeEvent=1411421154480/383976025430188032>;
          rel="next"']
      x-orchestrate-req-id: [096ed810-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
      If-Match: ['"1e1bc2e4a39a11a9"']
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976025430188032?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [097e6870-429f-11e4-99e0-12313d2f9238]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/events/log/1411421154480/383976025430188032?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [098e9510-429f-11e4-9c60-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
