interactions:
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"message":"The requested items could not be
        found.","details":{"items":[{"collection":"COLLECTION_1","key":"KEY_1"}]},"code":"items_not_found"}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [583ee180-0733-11e4-9662-12313d2f9238]
    status: {code: 404, message: Not Found}
- request:
    body: '{"derp": true}'
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      location: [/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787]
      x-orchestrate-req-id: [584e71e0-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787
  response:
    body: {string: !!python/unicode '{"derp":true}'}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      x-orchestrate-req-id: [585f3ac0-0733-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: !!python/unicode '{"derp":true}'}
    headers:
      content-location: [/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787]
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      x-orchestrate-req-id: [586f1940-0733-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [587ea9a0-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
