interactions:
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: '{"message":"The requested items could not be found.","details":{"items":[{"collection":"COLLECTION_1","key":"KEY_1"}]},"code":"items_not_found"}'}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d060fa90-0742-11e4-9662-12313d2f9238]
    status: {code: 404, message: Not Found}
- request:
    body: '{"derp": true}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"e3f664c2807f4787"']
      Location: [/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787]
      X-ORCHESTRATE-REQ-ID: [d070b200-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787
  response:
    body: {string: '{"derp":true}'}
    headers:
      Content-Type: [application/json]
      ETag: ['"e3f664c2807f4787"']
      X-ORCHESTRATE-REQ-ID: [d0876e50-0742-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1
  response:
    body: {string: '{"derp":true}'}
    headers:
      Content-Location: [/v0/COLLECTION_1/KEY_1/refs/e3f664c2807f4787]
      Content-Type: [application/json]
      ETag: ['"e3f664c2807f4787"']
      X-ORCHESTRATE-REQ-ID: [d0a09ba0-0742-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/KEY_1?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d0b004f0-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
