interactions:
- request:
    body: '{"derp": true}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"e3f664c2807f4787"']
      Location: [/v0/COLLECTION_1/03cf22386220cd06/refs/e3f664c2807f4787]
      X-ORCHESTRATE-REQ-ID: [d0efcd10-0742-11e4-9662-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1
  response:
    body: {string: '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf135e5820a3ee","ref":"545689fb72dd515a"},"value":{"lol":true},"reftime":1404893454938}],"next":"/v0/COLLECTION_1?limit=1&afterKey=03cf135e5820a3ee"}'}
    headers:
      Content-Type: [application/json]
      Link: ['</v0/COLLECTION_1?limit=1&afterKey=03cf135e5820a3ee>; rel="next"']
      X-ORCHESTRATE-REQ-ID: [d12f4710-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf22386220cd06?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d147b110-0742-11e4-94dc-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
