interactions:
- request:
    body: '{"derp": true}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      location: [/v0/COLLECTION_1/05542838d320cce3/refs/e3f664c2807f4787]
      x-orchestrate-req-id: [0b610b20-429f-11e4-99e0-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"05542838d320cce3","ref":"e3f664c2807f4787"},"value":{"derp":true},"reftime":1411421158612}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [0ba20bc0-429f-11e4-99e0-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/05542838d320cce3?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [0bbc98a0-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
