interactions:
- request:
    body: '{"derp": true}'
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"e3f664c2807f4787"']
      location: [/v0/COLLECTION_1/03cebcd72b205172/refs/e3f664c2807f4787]
      x-orchestrate-req-id: [58ca7fb0-0733-11e4-94dc-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebccbfa20a3d7","ref":"34a6f4738cd1be48"},"value":{"herp":"hello"},"reftime":1404887781373}],"next":"/v0/COLLECTION_1?limit=1&afterKey=03cebccbfa20a3d7"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&afterKey=03cebccbfa20a3d7>; rel="next"']
      x-orchestrate-req-id: [590d06f0-0733-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cebcd72b205172?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [5925bf10-0733-11e4-94dc-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
