interactions:
- request:
    body: '{"derp": true}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"e3f664c2807f4787"']
      Location: [/v0/COLLECTION_1/03cf2244942051ad/refs/e3f664c2807f4787]
      X-ORCHESTRATE-REQ-ID: [d2cc2e30-0742-11e4-94dc-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf2244942051ad/refs?values=false
  response:
    body: {string: '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf2244942051ad","ref":"e3f664c2807f4787"},"reftime":1404894431381}]}'}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d2dcd000-0742-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf2244942051ad?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d2ed23b0-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
