interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"34a6f4738cd1be48"']
      location: [/v0/COLLECTION_1/0554282ec42094e9/refs/34a6f4738cd1be48]
      x-orchestrate-req-id: [09d82130-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '{"burp": "goodbye"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"07532aa61503e758"']
      location: [/v0/COLLECTION_1/0554282f3020cce1/refs/07532aa61503e758]
      x-orchestrate-req-id: [09e89bf0-429f-11e4-99e0-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/0554282ec42094e9/relations/friends
  response:
    body: {string: !!python/unicode '{"count":0,"results":[]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [09faeb70-429f-11e4-9c60-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/0554282ec42094e9/relation/friends/COLLECTION_1/0554282f3020cce1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [0a0a2db0-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/0554282ec42094e9/relations/friends
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"0554282f3020cce1","ref":"07532aa61503e758"},"value":{"burp":"goodbye"},"reftime":1411421156148}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [0a19be10-429f-11e4-99e0-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/0554282ec42094e9/relation/friends/COLLECTION_1/0554282f3020cce1?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [0a2a86f0-429f-11e4-9c60-22000a0d84a1]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?force=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [0a3ab390-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
