interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"34a6f4738cd1be48"']
      location: [/v0/COLLECTION_1/03cebccbfa20a3d7/refs/34a6f4738cd1be48]
      x-orchestrate-req-id: [57152e90-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 201, message: Created}
- request:
    body: '{"burp": "goodbye"}'
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"07532aa61503e758"']
      location: [/v0/COLLECTION_1/03cebccc6b205170/refs/07532aa61503e758]
      x-orchestrate-req-id: [57266ca0-0733-11e4-94dc-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cebccbfa20a3d7/relations/friends
  response:
    body: {string: !!python/unicode '{"count":0,"results":[]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [57395860-0733-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cebccbfa20a3d7/relation/friends/COLLECTION_1/03cebccc6b205170
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [574bf600-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cebccbfa20a3d7/relations/friends
  response:
    body: {string: !!python/unicode '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebccc6b205170","ref":"07532aa61503e758"},"value":{"burp":"goodbye"},"reftime":1404887781484}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [575f08d0-0733-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cebccbfa20a3d7/relation/friends/COLLECTION_1/03cebccc6b205170?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [5770bc10-0733-11e4-9662-12313d2f9238]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?force=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [5780e8b0-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
