interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"34a6f4738cd1be48"']
      Location: [/v0/COLLECTION_1/03cf222d0a2051ac/refs/34a6f4738cd1be48]
      X-ORCHESTRATE-REQ-ID: [cf34d6a0-0742-11e4-94dc-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: '{"burp": "goodbye"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"07532aa61503e758"']
      Location: [/v0/COLLECTION_1/03cf222d7720cd04/refs/07532aa61503e758]
      X-ORCHESTRATE-REQ-ID: [cf457870-0742-11e4-9662-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf222d0a2051ac/relations/friends
  response:
    body: {string: '{"count":0,"results":[]}'}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cf572bb0-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: PUT
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf222d0a2051ac/relation/friends/COLLECTION_1/03cf222d7720cd04
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cf6890d0-0742-11e4-94dc-22000a0d84a1]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf222d0a2051ac/relations/friends
  response:
    body: {string: '{"count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf222d7720cd04","ref":"07532aa61503e758"},"value":{"burp":"goodbye"},"reftime":1404894425465}]}'}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cf7bcab0-0742-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf222d0a2051ac/relation/friends/COLLECTION_1/03cf222d7720cd04?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cf8df320-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?force=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [cf9ee310-0742-11e4-94dc-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
