interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      ETag: ['"34a6f4738cd1be48"']
      Location: [/v0/COLLECTION_1/03cf22470a2051ae/refs/34a6f4738cd1be48]
      X-ORCHESTRATE-REQ-ID: [d32c76a0-0742-11e4-94dc-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1&query=herp%3Ahello
  response:
    body: {string: '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf22470a2051ae","ref":"34a6f4738cd1be48"},"value":{"herp":"hello"},"score":4.245193004608154}]}'}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d53a6f10-0742-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cf22470a2051ae?purge=true
  response:
    body: {string: ''}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [d554d4e0-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 204, message: No Content}
version: 1
