interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"34a6f4738cd1be48"']
      location: [/v0/COLLECTION_1/05542964a0206c31/refs/34a6f4738cd1be48]
      x-orchestrate-req-id: [392002f0-429f-11e4-9c60-22000a0d84a1]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=herp%3Ahello&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"05542964a0206c31","ref":"34a6f4738cd1be48"},"value":{"herp":"hello"},"score":7.126003742218018}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [3b287d20-429f-11e4-9c60-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/05542964a0206c31?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [3b3c2c30-429f-11e4-99e0-12313d2f9238]
    status: {code: 204, message: No Content}
version: 1
