interactions:
- request:
    body: '{"herp": "hello"}'
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: POST
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      etag: ['"34a6f4738cd1be48"']
      location: [/v0/COLLECTION_1/03cebce6d120ccd2/refs/34a6f4738cd1be48]
      x-orchestrate-req-id: [5b2dc410-0733-11e4-9662-12313d2f9238]
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=herp%3Ahello&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebce6d120ccd2","ref":"34a6f4738cd1be48"},"value":{"herp":"hello"},"score":3.7182540893554688}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [5d394b80-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: DELETE
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1/03cebce6d120ccd2?purge=true
  response:
    body: {string: !!python/unicode ''}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [5d4bc210-0733-11e4-94dc-22000a0d84a1]
    status: {code: 204, message: No Content}
version: 1
