---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>

<section id='content'>
  {% for post in site.posts %}
    {% if post.category == null %}
	    <article class='{{ post.type }}'>
	    	<a name='{{ post.url | remove:'/' }}' href='#{{ post.url }}'>
	    		<h2>{{ post.title }}</h2>
	    	</a>
	    	<section class='body'>
	    	  {{ post.content }}
	    	</section>
	  	</article>
    {% endif %}
  {% endfor %}

  {% for category in site.categories %}
  	<h2>{{ category | first }}</h2>
    {% for posts in category %}
      {% for post in posts %}
    		{% if post.type %}
	        <article class='{{ post.type }}'>
			    	<a name='{{ post.url | remove:'/' }}' href='#{{ post.url }}'>
			    		<h2>
					    		<code>
					    			<b>{{ post.type }}</b>
					    			{{ post.path 	}}
					    		</code>
				    		{{ post.title }}
			    		</h2>
			    	</a>			    
				    <section class='body'>
				      {{ post.content }}
				    </section>
	  			</article>
  			{% endif %}
      {% endfor %}
    {% endfor %}
	{% endfor %}
</section>