interactions:
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcf676205175","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}]}'}
    headers:
      content-type: [application/json]
      x-orchestrate-req-id: [5de73ec0-0733-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
version: 1
