interactions:
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":4,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcf676205175","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [5ec96160-0733-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&query=%2A&offset=1&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcfc60205176","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2","prev":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2>; rel="next"',
        '</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0>; rel="prev"']
      x-orchestrate-req-id: [5f0977a0-0733-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcfcca20a3d9","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=3","prev":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=3>;
          rel="next"', '</v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=1>;
          rel="prev"']
      x-orchestrate-req-id: [5f18e0f0-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=3&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcf67320a3d8","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&offset=4","prev":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&offset=2"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&offset=4>;
          rel="next"', '</v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&offset=2>;
          rel="prev"']
      x-orchestrate-req-id: [5f290d90-0733-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&offset=4&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcfc7b20ccd4","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=5","prev":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=3"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=5>;
          rel="next"', '</v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=3>;
          rel="prev"']
      x-orchestrate-req-id: [5f396140-0733-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [!!python/unicode Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=5&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cebcf70020ccd3","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"prev":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=4"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&limit=1&limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&query=%2A&offset=4>;
          rel="prev"']
      x-orchestrate-req-id: [5f49b4f0-0733-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
version: 1
