interactions:
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1&query=%2A
  response:
    body: {string: '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf225cf12051b0","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      Content-Type: [application/json]
      Link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      X-ORCHESTRATE-REQ-ID: [d6c35900-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&query=%2A&offset=1&limit=1&query=%2A
  response:
    body: {string: '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf2257222051af","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2","prev":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0"}'}
    headers:
      Content-Type: [application/json]
      Link: ['</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2>; rel="next"',
        '</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0>; rel="prev"',
        '</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2>; rel="next"',
        '</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0>; rel="prev"']
      X-ORCHESTRATE-REQ-ID: [d7034830-0742-11e4-9662-12313d2f9238]
    status: {code: 200, message: OK}
version: 1
