interactions:
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1&query=%2A
  response:
    body: {string: '{"count":1,"total_count":6,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf225cf12051b0","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      Content-Type: [application/json]
      Link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      X-ORCHESTRATE-REQ-ID: [d7d0f870-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
version: 1
