interactions:
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":11,"results":[{"path":{"collection":"COLLECTION_1","key":"05542854a5206c2a","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [14773ef0-429f-11e4-99e0-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&query=%2A&offset=1&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":11,"results":[{"path":{"collection":"COLLECTION_1","key":"05542854af2094ec","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2","prev":"/v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=2>; rel="next"',
        '</v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0>; rel="prev"']
      x-orchestrate-req-id: [14ba3b60-429f-11e4-99e0-12313d2f9238]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443//v0/COLLECTION_1?limit=1&limit=1&query=%2A&query=%2A&offset=0&query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":3,"results":[{"path":{"collection":"COLLECTION_1","key":"05542862e82094ee","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&limit=1&limit=1&query=%2A&query=%2A&query=%2A&offset=1>;
          rel="next"']
      x-orchestrate-req-id: [14ca40f0-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 200, message: OK}
version: 1
