interactions:
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":3,"results":[{"path":{"collection":"COLLECTION_1","key":"05542862e82094ee","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [155d5930-429f-11e4-9c60-22000a0d84a1]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?query=%2A&limit=1
  response:
    body: {string: !!python/unicode '{"count":1,"total_count":3,"results":[{"path":{"collection":"COLLECTION_1","key":"05542862e82094ee","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      content-type: [application/json]
      link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      x-orchestrate-req-id: [156d37b0-429f-11e4-bd6b-12313d2f7cdc]
    status: {code: 200, message: OK}
version: 1
