interactions:
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1&query=%2A
  response:
    body: {string: '{"count":1,"total_count":3,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf22696920cd0a","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}],"next":"/v0/COLLECTION_1?limit=1&query=%2A&offset=1"}'}
    headers:
      Content-Type: [application/json]
      Link: ['</v0/COLLECTION_1?limit=1&query=%2A&offset=1>; rel="next"']
      X-ORCHESTRATE-REQ-ID: [db57d540-0742-11e4-95a6-12313d2f7cdc]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Authorization: [Basic NGUyODI4MmMtOWI4Yy00NGU5LTljM2ItOTI5OTEyMjFhOWVkOg==]
      Content-Type: [application/json]
    method: GET
    uri: https://api.orchestrate.io:443/v0/COLLECTION_1?limit=1&query=%2A
  response:
    body: {string: '{"count":1,"total_count":1,"results":[{"path":{"collection":"COLLECTION_1","key":"03cf227a932051b3","ref":"545689fb72dd515a"},"value":{"lol":true},"score":1.0}]}'}
    headers:
      Content-Type: [application/json]
      X-ORCHESTRATE-REQ-ID: [db673e90-0742-11e4-94dc-22000a0d84a1]
    status: {code: 200, message: OK}
version: 1
